<ion-item>
  <ion-avatar *ngIf="entity.picture" slot="start" (click)="startIconEmmiter.emit(entity)">
    <img [src]="entity.pictureUrl" />
  </ion-avatar>

  <ion-icon
    *ngIf="!entity.picture"
    slot="start"
    (click)="startIconEmmiter.emit(entity)"
    class="icon-info-row"
    [name]="iconLeft"
  ></ion-icon>

  <ion-label>
    <h2>{{ entity.nombre }}</h2>
    <p>{{ entity.telefonos }}</p>
  </ion-label>

  <ion-icon *ngIf="iconRight" slot="end" (click)="endIconEmmiter.emit(entity)" [name]="iconRight"></ion-icon>
</ion-item>
