.logo-ls {
  width: 8rem;
  margin-top: 7rem;
}

.form-login {
  width: 100%;
  padding: 0 1.5rem;
}

.form-wrapper {
  padding: 2rem 0px;
  padding-top: 1rem;
  margin: 0px 2rem;
  background-color: white;
  border-radius: 3px;

  margin-bottom: 2rem;
}
