<ion-content color="primary">
  <ion-grid>
    <ion-row>
      <ion-col text-center size="12">
        <img class="logo-ls" src="./assets/icon/logols.png" alt="img" />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <form class="form-wrapper" [formGroup]="formLoggin">
          <ion-list>
            <!-- Email -->
            <simple-input [campo]="formLoggin.get('email')" type="email" label="Email" placeholder="Agrega un correo"></simple-input>

            <!-- Password -->
            <simple-input
              [campo]="formLoggin.get('password')"
              type="password"
              label="Contraseña"
              placeholder="Escribe tu contraseña"
            ></simple-input>
          </ion-list>

          <ion-row class="center mt-2rem">
            <ion-button (click)="sendForm()">Ingresar</ion-button>
          </ion-row>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
