.fc-button-primary {
  background-color: var(--ion-color-primary);
  border-color: white;
  outline: none !important;
  box-shadow: none;
  color: white;

  &:active {
    background-color: var(--ion-color-primary-shade);
  }
}

.fc-right {
  h2 {
    text-transform: capitalize;
  }
}

@media (max-width: 375px) {
  .fc-right {
    h2 {
      font-size: 1.3em;
    }
  }
}

@media (max-width: 325px) {
  .fc-right {
    h2 {
      font-size: 1em;
    }
  }
}

.fc-day-header {
  span {
    color: var(--ion-color-dark);
    font-weight: initial;
  }
}
