<app-header></app-header>

<ion-content padding>
  <!-- <p>Tareas</p> -->
  <full-calendar
    *ngIf="options"
    #fullcalendar
    [locale]="options.locale"
    [editable]="true"
    [events]="tareas"
    [height]="options.height"
    [buttonText]="options.buttonText"
    [timeZone]="options.timeZone"
    [header]="options.header"
    [plugins]="options.plugins"
    [firstDay]="options.firstDay"
    [eventLimit]="options.eventLimit"
    (dateClick)="dateClick($event)"
    (eventDragStop)="eventDragStop($event)"
    (eventClick)="eventClick($event)"
  ></full-calendar>
</ion-content>
