.center {
  justify-content: center !important;
}

.text-center {
  text-align: center !important;
}

.relative {
  position: relative !important;
}

.hidden {
  display: none !important;
}

.icon-header-back {
  font-size: 1.8rem;
  padding-left: 6px;
}

.icon-header-close {
  font-size: 1.8rem;
  padding-right: 6px;
}

.icon-md {
  font-size: 1.6rem;
}

.flip-x {
  transform: scale(-1, 1);
}

.mt-2rem {
  margin-top: 2rem !important;
}
